* {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.icon-font-awesome {
  color: purple;
}

.dropdown-toggle::after {
  margin-left: 0.15em;
}

.nav-item {
  margin-left: 0.5em;
}

th {
  font-weight: 400;
  font-size: 0.8em;
}

.file-table td, th {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  vertical-align: middle !important;
}

/* Align center first column of table */
.file-table td:first-child, th:first-child {
  text-align: center;
  align-self: center;
}